#mc_cart_recap {
    padding-bottom: 100px;
}
#mc_cart{
    padding-top: 44px;
}
.cart_hb {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    background-color: #fbfbfb;
    box-shadow: 0 -1px 8px #777;
}
.cart_hb > h4 {
    margin: 0;
    font-size: 18px;
    color: #444;
}
.cart_hb > h4 > button {
    height: 26px;
    padding: 6px 24px;
    float: right;
}
.mc_cart_bfcs {
    position: absolute;
    top: 100%;
    left: 2%;
    width: 96%;
    height: 40px;
    margin-top: -96px;
    box-shadow: 1px 1px 10px #333;
    border-radius: 50px;
}
.mc_cart_bfcs > button.first {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: white;
    background-color: #333;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}
.mc_cart_bfcs > button.second {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #F36F24;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}
.mc_cart {
    padding-bottom: 50px;
}
.mc_cart_bfcs > button{
    width: 50%;
    height: 100%;
    border: none;
    float: left;
}

.mc_cart_recap{
    box-sizing: border-box;
    padding: 20px;
    font-size: 5vw;
    color: #333;
    padding-bottom: 100px;
}
#mc_cart_recap > div.content{
    height: 100%;
    overflow-y: scroll;
}
#mc_cart_recap > div.content > select, .mc_cart_recap > select {
    width: 100%;
    font-size: 4vw;
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 4vw;
}

.mc_cart_invoice {
    padding-top: 4vw;
}
.mc_cart_invoice > table {
    width: 100%;
    text-align: left;
    font-size: 4vw;
    border: 1px solid #ccc;
}
.mc_cart_invoice > table > tr{
    border: solid;
    border-color: #ddd;
    border-width: 1px 0;
}
.mc_cart_invoice > table > tbody > tr > td:first-child{
    line-height: 8vw;
    padding-left: 10px;
}
.mc_cart_invoice > table > tbody > tr:last-child{
    font-weight: bold;
}
.mc_cart_invoice_tfr{
    background-color: #444;
    color: white;
}
.mc_cart_invoice_tfr > td {
    border-color: #444 !important;
}

.mord_pan {
    box-sizing: border-box;
    width: 100%;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 10px;
}
.mord_pan > h1{
    font-size: 5vw;
    line-height: 0;
}
.mord_pan > span{
    font-size: 5vw;
}
.mord_pan > img{
    float: right;
    width: 24px;
    height: 24px;
}
.mord_pan_hgtd {
    color: #51B128;
}
.mord_pan > div > table {
    width: 100%;
    font-size: 4vw;
    border: 1px solid #ccc;
    padding: 0;
    margin-top: 10px;
    border-collapse: collapse;
}
.mord_pan > div{
    overflow: hidden;
    height: 0;
}
.mord_pan_t_tr > td {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 1vw;
}
.mord_pan_t_tr_hdr{
    background-color: #ccc;
}
.mc_cart_addr{
    width: 100%;
    height: 25vw;
    padding-top: 1vw;
}
.mc_cart_addr > select {
    width: 100%;
    height: 10vw;
    font-size: 4vw;
}
.mc_cart_addr > button {
    width: 100%;
    height: 10vw;
    padding: 1.8vw;
    border: none;
    font-size: 4vw;
    margin-top: 1vw;
}

#mc_cart_list {
    height: 100%;
    overflow: scroll;
}

.mc_cart_timing {
    height: 34vw;
}
.mc_cart_timing > input, .mc_cart_timing > select {
    height: 10vw;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 4px 0 0 0;
    font-size: 4vw;
    padding: 6px;
    margin-bottom: 4vw;
}