/*Primary: #F36F24*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;  
}
:root {
    --mcolor1: #51B128;
    --mcolor2: #424342;
}
::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
}
.headerbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
    background-color: #F36F24;
    color: #fff;
    font-size: 22px;
    box-sizing: border-box;
    padding: 8px 10px 10px 10px;
    box-shadow: 0 0 3px #666;
}
.headerbar > div{
    float: right;
    height: 100%;
}
.headerbar > div > div{
    float: right;
    display: inline-block;
    height: 80%;
    margin-right: 8px;
}
.headerbar > div > div > img{
    height: 100%;
    margin-top: 4px;
}
.headerbar > div > div > div {
    position: relative;
    z-index: 1;
    float: left;
    margin-right: -12px;
    margin-top: -40px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    text-align: center;
    background-color: #f42;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid white;
}

#hb_search {
    position: fixed;
    z-index: 1001;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 5px 10px 5px 50px;
    opacity: 0;
}
#hb_search > img {
    position: absolute;
    left: 5px;
    top: 9px;
    height: 32px;
}
#hb_search > input {
    left: 50px;
    top: 5px;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border-color: #F36F24;
    background-color: #f78747;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    padding-left: 16px;
    transition: background-color 0.2s;
}
#hb_search > input:focus{
    background-color: white;
}
#mc_search_sb {
    box-sizing: border-box;
    padding: 5px;
    left: 100% !important;
    margin-left: -56px;
}

.mmb {
    float: left;
    height: 100%;
    cursor: pointer;
    margin-right: 10px;
}

.srnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: none;
}

.srnb-lower {
    z-index: 990;
}

.srnb-higher {
    z-index: 1010;
}
.srnb-higher2 {
    z-index: 1090;
}
#sb_wait{
    z-index: 1500;
    text-align: center;
    color: white;
    font-size: 22px;
}
.sb_wait_block {
    width: 100%;
    background-color: #eee;
    color: #222;
    margin: 0;
    margin-top: 0;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 80px #555;
}
.sb_wait_block > img {
    width: 40px;
    height: 40px;
    margin-bottom: -13px;
}
.leftmenu {
    position: fixed;
    z-index: 1020;
    height: 100%;
    width: 70%;
    top: 0;
    left: -70%;
    background-color: #f5f5f5;
    box-shadow: 0 0 2px #000;
    padding-top: 32vw;
    box-sizing: border-box;
}

.lm-topsec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32vw;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 -5px 11px #666;
}
.lm-topsec > h4 {
    margin: 1vw 0;
    text-align: left;
    color: #444;
    font-size: 3.6vw;
    padding-left: 1vw;
}
.lm-topsec > h4 > img {
    height: 5vw;
    float: left;
    margin-right: 1vw;
    opacity: 0.8;
}
.lm-topsec > div {
    width: 150%;
    height: 50px;
    margin-top: -70px;
    margin-left: -25%;
    margin-bottom: 20px;
}
.lm-topsec > img{
    width: 100%;
    margin-top: -2vw;
}
.lm_nav_item{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    color: #444;
    border-left: 5px solid rgba(0,0,0,0);
}
#lm_subcon {
    opacity: 0;
    margin-left: -50px;
    height: 100%;
    overflow-y: scroll;
}
.lm_nav_item_active {
    border-color: #F36F24;
    background-color: #eaeaea;
    color: #000;
}
.lm_nav_item_active > img{
    opacity: 1 !important;
}
.lm_nav_item > img {
    float: left;
    height: 26px;
    margin-right: 10px;
    opacity: 0.8;
}
.lm_nav_sep{
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}
.lm_ver_txt {
    margin-left: 20px;
    font-size: 12px;
    color: #333;
    padding-top: 2vw;
    padding-bottom: 5vw;
}

.maincontent {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    overflow: hidden;
}
.maincontent > div {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 50px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.toe{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mc_default {
    display: block !important;
    opacity: 1 !important;
    margin-left: 0 !important;
}

.gl_msg {
    position: fixed;
    z-index: 1011;
    top: 50%;
    width: 100%;
    height: 50vw;
    margin-top: -25vw;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}
.gl_msg > div{
    width: 100%;
    height: 37vw;
    line-height: 32vw;
    box-sizing: border-box;
    padding: 4vw;
    font-size: 5vw;
    color: #444;
}
.gl_msg > div > span {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.3;
}
.gl_msg > button {
    width: 40%;
    height: 9vw;
    margin: 0 2%;
    top: 100%;
    border: none;
    box-sizing: border-box;
    background-color: #ccc;
    font-size: 4vw;
    color: #333;
    border-radius: 30px;
}

.gl_popup{
    position: fixed;
    z-index: 1011;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 50vw;
    margin-top: -25vw;
    margin-left: -40vw;
    box-sizing: border-box; 
    border: 1px solid #ddd;
    background-color: #eee;
}
.gl_popup > div{
    width: 100%;
    height: 40vw;
    box-sizing: border-box;
    padding: 4vw;
    font-size: 5vw;
    color: #333;
}
.gl_popup > button{
    width: 50%;
    height: 10vw;
    float: left;
    top: 100%;
    border: none;
    box-sizing: border-box;
    background-color: #ccc;
    border-right: 1px solid #666;
    font-size: 5vw;
    color: #333;
}
.gl_popup_input{
    width: 100%;
    box-sizing: border-box;
    padding: 4px 6px;
    font-size: 5vw;
}

.loading_screen {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10vw;
    background-color: #f9f9f9;
    text-align: center;
}
.loading_screen > div{
    font-size: 5vw;
    color: #d77;
    margin-top: 60px;
}
.loading_screen > img {
    margin: 80px 0 60px 0;
}

.ls_logo_img {
    height: 17.5vw;
}
.ls_loading_img{
    width: 16vw;
    height: 16vw;
}
#ls_fail_msg > a > button {
    margin-top: 10px;
    font-size: 5vw;
    border: 1px solid #ddd;
    background-color: #fff;
    line-height: 1.8;
    height: 15vw;
    font-family: 'Nunito', sans-serif;
    border-radius: 100px;
    padding: 0 45px;
}
#ls_fail_msg > a > button > img{
    height: 8vw;
    float: left;
    margin-left: -3vw;
    margin-right: 3vw;
}
#ls_fail_msg > a button > span {
    font-weight: bold;
    color: #333;
}

#mc_pages {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-size: 18px;
}
.order_oways_page {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-size: 22px;
    text-align: center;
}
.order_oways_page>a{
    width: 40%;
    padding: 30px;
    background-color: #eee;
    display: inline-block;
    text-decoration: none;
    color: #444;
    border-radius: 4px;
}
.order_oways_page>a>img{
    width: 60%;
}
#mc_help{
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
}
#mc_help>a{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: #eee;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 4px;
}

#mc_search_con {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #51B128;
}
#mc_search_con > input {
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #389313;
    background-color: #5bce2b;
    font-size: 20px;
    padding: 3px 6px;
    padding-right: 38px;
    color: #444;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.2s;
}
#mc_search_con > input:focus{
    background-color: #eee;
}
#mc_search_con > img{
    height: 80%;
    float: right;
    margin-top: -30px;
    margin-right: 3px;
}

.mc_not_row {
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    background-color: #fbfbfb;
    border-bottom: 1px solid #bbb;
}
.mc_not_row>span{
    font-size: 17px;
    font-weight: bold;
}
.mc_not_row > label{
    font-size: 13px;
}
.mc_not_row > img {
    float: right;
    width: 20px;
    height: 20px;
    margin: -8px;
}
#order_chat>iframe{
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.atc_ofs_lbl {
    color: white;
    font-size: 3.6vw;
    line-height: 2.4;
}
#livechat_iframe{
    padding-top: 50px;
}

.mord_pan_btn {
    margin-top: 10px;
    width: 50%;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #aaa;
    font-size: 4vw;
}

.t_input{
    padding-left: 10px;
    border-radius: 100px;
    border: 1px solid #ccc;
}
.t_input:focus {
    border-color: #F36F24;
}
.rfloat{
    float: right;
}
.t_btn3 {
    background-color: #ddd;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    color: #444;
    text-align: center;
}
.t_btn2 {
    background-color: #ddd;
    border: none;
    border-radius: 100px;
    padding: 4px 20px;
    color: #555;
    text-align: center;
}
.t_btn {
    background-color: #F36F24;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    color: white;
    text-align: center;
}
.t_bg {
    background-color: #F36F24;
    color: white;
}
.t_color {
    color: #F36F24;
}
.t_dimmer{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30%;
    left: 50%;
    margin-left: -25px;
}
.t_dimmer_l {
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 50px;
    margin: auto;
}
.ph_icon {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -140px;
    opacity: 0.2;
}
.ph_text {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: 0;
    color: #bbb;
    text-align: center;
}
#ls_select_city{
    margin-top: 0 !important;
    opacity: 0;
    display: none;
}
#ls_select_city > h3 {
    margin: 5px 0 10px 0;
    color: #444;
}
#ls_select_city > select{
    font-size: 5vw;
    padding: 10px 20px;
    width: 100%;
}
#ls_select_city > button {
    font-size: 5vw;
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    margin-top: -20%;
    opacity: 0;
}

#ls_select_region {
    margin-top: 20px !important;
    opacity: 0;
}
#ls_select_region > h4 {
    margin: 0 0 10px 0;
    color: #444;
}

#ls_select_region > select {
    font-size: 5vw;
    padding: 10px 20px;
    width: 100%;
}

.ls_mid_sec {
    margin: 0 !important;
    width: 100%;
    height: 27vw;
}
.ls_mid_sec > img{
    width: 100%;
    height: 100%;
}
.ls_mid_sec > h4 {
    font-size: 6vw;
    background: -webkit-linear-gradient(-70deg, #F36F24, #f35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#welcome_screen{
    z-index: 2100;

}
.ws_lang_con {
    margin: 0 !important;
}
.ws_lang_con > h4 {
    color: #666 !important;
    margin: 0 0 10vw 0 !important;
}
.ws_lang_con > div {
    display: inline-block;
    width: 30vw;
    height: 25vw;
    padding: 4vw;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    float: left;
    margin: 0 1vw;
    box-shadow: 1px 1px 7px #ddd;
}
.ws_lang_con > div.active {
    background-color: #F36F24 !important;
}
.ws_lang_con > div > img {
    width: 70%;
}
.ws_lang_con > div > span {
    color: #444;
}
.ws_lang_con > div.active > span {
    color: white;
}
#ws_lang_okbtn{
    margin-top: 40px;
    font-size: 5vw;
    width: 80%;
}

#fab {
    position: fixed;
    z-index: 2000;
    top: 100%;
    left: 100%;
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    padding: 0.8rem;
    border-radius: 50%;
    background-color: #F36F24;
    margin-top: -5rem;
    margin-left: -5rem;
    font-size: 1.7rem;
    color: white;
    box-shadow: 1px 1px 10px #999;
    /*display: none;*/
}
#fab > img{
    height: 100%;
}