.mc_products_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.mc_products_header > div {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 40px;
    background-color: #eee;
    border-bottom: none;
    box-shadow: 0 0 1px #000;
    overflow-x: scroll;
}
.mc_prt_hdr_scassc {
    position: initial;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 6px;
    font-size: 20px;
    height: 100%;
    white-space: nowrap;
    color: #444;
}
.mc_products{
    padding-top: 40px;
}
.mc_prt_hdr_scassc > span {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
    margin-left: 15px;
}
.mc_prt_hdr_scassc_activecat {
    color: #F36F24;
}
/*.prts_item { Version 1
    box-sizing: border-box;
    width: 100%;
    height: 30vw;
    padding: 2vw;
    border-bottom: 0.3vw solid #ddd;
}*/
.prts_item { /*Version 2*/
    margin: auto;
    box-sizing: border-box;
    width: 98%;
    height: 30vw;
    padding: 2vw;
    margin-top: 4px;
    box-shadow: 0px 1px 4px #aaa;
    border-radius: 5px;
    background-color: white;
}
.prts_item > img{
    height: 100%;
    float: left;
    margin-right: 3vw;
    opacity: 0;
}
.prts_item > h1 {
    height: 6vw;
    margin: 0;
    font-size: 4vw;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prts_item > span {
    font-size: 5vw;
    color: #F36F24;
}
.prts_item > span > span{
    font-size: 5vw;
}
.prts_item > label{
    font-size: 4vw;
    color: #555;
}
.prts_item > label > span{
    font-size: 4vw;
}

.prts_item > div {
    float: right;
    width: 25vw;
    height: 8vw;
    background-color: #F36F24;
    border-radius: 100px !important;
    padding: 0;
    text-align: center;
    border: 1px solid #F36F24;
    margin-top: -1vw;
}
.prts_item > div > div{
    background-color: transparent !important;
}
.prts_item > div > button {
    padding: 1.5vw 4vw;
    background-color: #F36F24;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 4.5vw;
    border-radius: 100px;
    box-sizing: border-box;
    width: 100%;
    height: 8vw;
}
.prts_item > div > button > img {
    height: 5vw;
    float: left;
    margin-right: 1vw;
}
.prts_item > div > div > button {
    width: 8vw;
    height: 8vw;
    background-color: #ff9255;
    border: none;
    border-radius: 50%;
    color: white;
    font-family: Consolas;
    font-size: 5vw;
    margin: 0;
}
.prts_item > div > div > span {
    font-size: 5vw;
    color: white;
    display: inline-block;
    width: 9vw;
}

.mc_product > div{
    width: 100%;
    height: 100vw;
    overflow: hidden;
    box-sizing: border-box;
}
.mc_product > div > img {
    width: 100%;
    height: 100%;
}
.mc_product > div > div {
    position: relative;
    z-index: 100;
    width: 150%;
    height: 100px;
    left: -25%;
    box-shadow: 0 0 100px #000;
}
.mc_product > h1 {
    font-size: 6vw;
    color: #eee;
    margin: 0;
    padding: 10px 14px;
    background-color: #222;
}
.mc_product > div.sdiv {
    padding: 5vw;
    height: auto;
}
.mc_product > div.sdiv > label{
    font-size: 6vw;
    color: #999;
}
.mc_product > div.sdiv > label.smlrsize{
    font-size: 4vw;
}
.mc_product > div.sdiv > span{
    font-size: 8vw;
    color: #55dd1a;
}
.mc_product > div.sdiv > span.smlrsize{
    font-size: 5vw;
}
.mc_product > div.sdiv > h1{
    font-size: 5vw;
    color: #444;
    font-weight: normal;
}
.mc_product > div.sdiv > div{
    position: inherit;
    margin: auto;
    width: 100%;
    height: auto;
    max-height: 2000px;
    padding-bottom: 60px;
    font-size: 3.5vw;
    color: #555;
    box-shadow: none;
}


.mc_product > div.tdiv{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 40px;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    padding: 4px;
    margin-top: -40px;
    background-color: #ccc;
    box-shadow: 0 0 5vw #000;
    text-align: center;
}
.mc_product > div.tdiv > button{
    padding: 4px 12px;
    background-color: #222;
    border: 1px solid #555;
    border-radius: 4px;
    color: #eee;
    font-size: 16px;
    margin-top: 1px;
}
.mc_product > div.tdiv> div > button {
    width: 30px;
    height: 30px;
    background-color: #222;
    border: 1px solid #555;
    border-radius: 50%;
    color: white;
    font-family: Consolas;
    font-size: 16px;
}
.mc_product > div.tdiv > div > span {
    font-size: 22px;
    font-weight: bold;
    color: #111;
}
.mc_product > div.tdiv > div{
    box-shadow: none;
}

.mc_product_img_loading{
    width: 50%;
    height: 50%;
    padding: 25vw;
}

.prt_panel_disc_b {
    position: relative;
    top: -10vw;
    left: 15vw;
    display: block;
    width: 12vw;
    height: 12vw;
    box-sizing: border-box;
    padding: 3.7vw 1vw;
    font-size: 3.5vw;
    color: white;
    border-radius: 50%;
    text-align: center;
    background-image: url(../images/icons/pstart_small.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(-25deg);
}
.prt_prize_old{
    font-size: 3vw !important;
    color: #777;
    text-decoration: line-through;
}
.prt_prize_old_b {
    font-size: 6vw;
    color: #777;
    text-decoration: line-through;
}

.acb_sp3{
    color: red;
}

#mc_products_list{
    height: 100%;
    overflow-y: scroll;
}

#prt_popup {
    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 90vh;
    margin-left: -45vw;
    margin-top: -45vh;
    background-color: #efefef;
    border: 1px solid #F36F24;
}
.prt_pp_topside{
    width: 90vw;
    height: 90vw;
    overflow: hidden;
    background-color: white;
}
.prt_pp_topside > div.shdw {
    width: 100%;
    height: 50px;
    box-shadow: 0 0 27vw #555;
    margin-top: 10px;
    position: relative;
}
.prt_pp_imgs {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.prt_pp_imgs > img{
    width: 100%;
    height: 100%;
}
.prt_pp_isb{
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    top: -100%;
    overflow: hidden;
}
.prt_pp_isb.right{
    text-align: right;
}
.prt_pp_isb > img{
    /*margin-top: 40vw;*/
    height: 10vw;
    opacity: 0.5;
}
.prt_pp_isb > div {
    width: 50px;
    height: 100%;
    box-shadow: 0 0 27vw #555;
    margin-bottom: -107%;
}
.prt_pp_isb.left > div{
    margin-left: -50px;
}
.prt_pp_isb.right > div {
    margin-left: 100%;
}

.prt_pp_acb {
    float: right;
    width: 30vw;
    height: 10vw;
    background-color: #F36F24;
    border-radius: 100px;
    padding: 0;
    text-align: center;
    border: 1px solid #F36F24;
    margin-top: 2vw;
    margin-right: 2vw;
    box-shadow: 1px 1px 7px #999;
}

.prt_pp_acb > button {
    padding: 1.5vw 4vw;
    background-color: #F36F24;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 6vw;
    border-radius: 100px;
    width: 100%;
}

.prt_pp_acb > button > img {
    height: 7vw;
    float: left;
    margin-right: 1vw;
}

.prt_pp_acb > div > button {
    width: 10vw;
    height: 10vw;
    box-sizing: border-box;
    background-color: #ff9255;
    border: none;
    border-radius: 50%;
    color: white;
    font-family: Consolas;
    font-size: 5vw;
    margin: 0;
}

.prt_pp_acb > div > span {
    font-size: 5vw;
    line-height: 2;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    width: 8vw;
}
#mc_prodp_crt_minus{
    float: left;
}
#mc_prodp_crt_plus{
    float: right;
}

.prt_pp_price {
    height: 22vw;
}
.prt_pp_price > a {
    float: left;
    position: relative;
    top: -6vw;
    left: 2vw;
    display: inline-block;
    width: 25vw;
    height: 25vw;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    padding-top: 8.5vw;
    box-sizing: border-box;
    text-align: center;
    background-image: url('../images/icons/pstart_big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(-25deg);
}

.prt_pp_price > span {
    float: left;
    display: inline-block;
    position: relative;
    left: 5vw;
    top: 3vw;
    width: 25vw;
    text-align: center;
    font-size: 5vw;
    color: #F36F24;
    font-weight: bold;
    line-height: 1;
}
.prt_pp_price > span > label.old_price{
    font-size: 3.5vw;
    color: #777;
    text-decoration: line-through;
}
.prt_pp_desc {
    float: left;
    margin-top: -5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: scroll;
    /*height: calc(90vh - 113vw);*/
    width: 100%;
    box-sizing: border-box;
}
.prt_pp_desc > h2 {
    margin: 0;
}

.prt_pp_price_wd {
    font-size: 20px !important;
    padding-left: 44px !important;
    white-space: nowrap !important;
    line-height: 1.5 !important;
}

.prt_item_rm_btn {
    float: right !important;
    margin-top: -10vw !important;
    padding: 1.5vw 5.5vw !important;
    background-color: #ccc !important;
    color: #555 !important;
}