#myac_name{
    font-size: 24px;
    color: white;
}
#myac_balance{
    font-size: 30px;
    color: aquamarine;
}

#bbp_ll1 {
    position: fixed;
    z-index: 90;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
}

#prt_filters_pp {
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    width: 250px;
    height: 200px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -125px;
    border-radius: 6px;
    box-shadow: 1px 2px 50px #444;
    padding: 10px;
    text-align: center;
}

#prt_filters_pp > h4{
    margin: 0 0 10px 0;
    font-size: 16px;
}
#prt_filters_pp > select {
    width: 100%;
    padding: 6px 8px;
    font-size: 15px;
}
#prt_filters_pp > button {
    width: 100%;
    margin-top: 79px;
}